.highlight {
	pre {
		border: transparent;
		background-color: $base03;
		@include font-size(18);
		word-wrap: normal;

		code {
			color: $nobel;
			white-space: pre;
		}
	}
}

.btn-code-select {
	float: right;
	background: #dededc; 
	color: #333337; 
	border: 0;
	font-size: 0.8em;
	margin-top: -30px;
}

		
