header {
	text-align: center;
  width:100%;
  height:225px;
  color: $white;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/banner.jpg");


	.navbar {
		background: transparent;
		border: none;
		padding-top: 5px;
	}

	h1 {
		@include font-size(48);
		// font-size: 48px;
		// line-height: 48px;
		margin-top: -5px;
	}

	h4 {
		font-size: 16px;
		padding-top: 10px;
	}

	a {
		background: $gulf-stream;
		color: $tuna !important;
		letter-spacing: 1px;
		font-weight: 600;
		text-decoration: none ! important;
		text-shadow: none;
		text-transform: uppercase;
		transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		&:hover {
			color: $white !important;
		}
	}
}