.meta {
  @include clearfix;
  margin-bottom: 0;
  @include font-size(16);
}

blockquote {
  @include font-size(24);
  padding: 0 20px;
}

.pullquote {
  text-align: center;
  @include line-height(48);
  @include font-size(38);
  margin: 50px -5%;
}

.post {
  padding: 30px 8%;
  @include breakpoint(md) {
    padding: 30px 14% 70px;
  }

  @include breakpoint(lg) {
    padding: 30px 18% 170px;
  }

  h1 {
    letter-spacing: -1pt;
    color: $gothic;
    @include breakpoint(sm) {
      @include font-size(48);
    }
  }

  h2 {
    @include font-size(36);
    color: $gothic;
  }

  h3 {
    @include font-size(24);
    color: $gothic;
  }

  h4 {
    @include font-size(21);
    color: $gothic;
  }

  h5 {
    background: none repeat scroll 0% 0% $quill-grey;
    color: $tuna;
    @include font-size(14);
    font-weight: 600;
    padding: 10px 15px;
    margin-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
    word-wrap: break-word;
  }

  h6 {
    @include font-size(18);
    color: $gothic;
  }

  li {
    @include font-size(18);
    color: $tuna;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 12px 12px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 12px 12px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 12px 12px 3px rgba(34, 25, 25, 0.4);
  }

  .strike {
    color: #C7254E;
  }
}

