$nobel: #b6b6b6;
$quill-grey: #dededc;
$tuna: #333337;
$white: #fff;
$gothic: #6da3a6;
$gulf-stream: #8db7b9;
$jungle-mist: #bed6d7;
$bottom-spacing-pixels-to-apply: 15px;

p {
  padding-bottom: $bottom-spacing-pixels-to-apply;
  @include font-size(18);
  @include breakpoint(sm) {
    @include font-size(20);
  }

  @include breakpoint(md) {
    @include font-size(21);
  }
}

.highlight {
  margin-bottom: $bottom-spacing-pixels-to-apply;
}

ul {
  margin-bottom: $bottom-spacing-pixels-to-apply*2 !important;
}

.meta {
  color: $nobel;
  @include font-size(14);
  @include breakpoint(md) {
    @include font-size(16);
  }

  a {
    color: $nobel;
    &:hover,
    &:active {
      text-decoration: none;
      color: $tuna;
      border-bottom: 1px solid $nobel;
    }
  }
}
